<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: '<%= API_KEY %>',
      shopOrigin: 'https://api-test-store-vix.myshopify.com',
      debug: true
    });
  </script>

</head>
<body>

<h3>Shopify Sinatra App</h3>
<h2> <%= @id %> </h2>



</body>
