<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: 'e64b5e4f21264a36264440c2eb5357c1',
      shopOrigin: 'https://api-test-store-vix.myshopify.com',
      debug: true
    });
  </script>

</head>
<body>

<h3>Shopify Sinatra App</h3>

</body>
